html {
    font-family: Georgia, Arial, Helvetica, sans-serif;
    color: hsl(51, 90%, 50%);
    scrollbar-color: hsl(51, 90%, 40%) hsl(120, 50%, 20%);
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    text-shadow: 0px 5px 6px hsla(0, 0%, 0%, 0.2);
}

h2 {
    color: hsl(51, 90%, 40%);
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    text-shadow: 0px 5px 6px hsla(0, 0%, 0%, 0.2);
}

body {
    background-color: hsl(120, 50%, 20%);
    background-image: url('src/images/cloth.png');
    background-repeat: repeat;
    justify-items: center;
}

.divider {
    width: 95%;
    height: 4px;
    background-color: hsla(50, 70%, 30%, 0.8);
    border-radius: 5px;
    margin: 100px 0px;
    box-shadow: 0px 5px 6px hsla(0, 0%, 0%, 0.3);
}

.list {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.6;
    margin: 0px 20px;
    text-shadow: 0px 5px 6px hsla(0, 0%, 0%, 0.5);
    border: 4px dashed hsla(50, 70%, 50%, 0.8);
    border-radius: 25px;
    width: 90%;
    padding: 10px 20px;
    margin: 20px 0px;
}

.list-item {
    font-size: 20px;
    background-color: hsla(120, 40%, 30%, 0.5);
    padding: 5px 60px;
    border-radius: 16px;
    box-shadow: 0px 5px 6px hsla(0, 0%, 0%, 0.3);
    color: hsla(51, 90%, 50%, 0.8);
    margin-bottom: 10px;

    cursor: pointer;
}

.list-item:hover {
    background-color: hsla(120, 40%, 30%, 0.7);
    color: hsla(51, 90%, 50%, 1);
    text-shadow: 0px 5px 6px hsla(51, 90%, 40%, 0.5);
}
